<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <video autoplay id="idle"  loop>
		<source src="/videos/idle_demo.mp4" type="video/mp4">	
		Your browser does not support the video tag. I suggest you upgrade your browser.
	</video>
			
	<video autoplay id="talk" style="display:none;"  loop>
		<source src="/videos/talk_demo.mp4" type="video/mp4">	
		Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
	
	<button class="btn" onclick="vidSwitch()"><%= btnTitle %></button>
	
	<script  src="/javascripts/video.js"></script>
  </body>
</html>
